{% extends "main_view.html" %}
{% block bird %}
<svg id="bird_svg"></svg>
<script>
    console.log("BIRD");


    var nodes = [
        {% for node_id, node in graph.nodes.items %}
            {
            id: {{ node_id }},
            name: "{{ node.data.name }}",
            attributes: {
            {% for key, value in node.data.items %}
            "{{ key }}": "{{ value }}"{% if not forloop.last %},{% endif %}
            {% endfor %}
            }
            }{% if not forloop.last %},{% endif %}
        {% endfor %}

    ];

    var edges = [
        {% for edge in graph.edges %}
            {
                source: getIndexFromNodeId(nodes,{{ edge.source }}),
                target: getIndexFromNodeId(nodes,{{ edge.target }})
            }{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];

    function getIndexFromNodeId(nodes, nodeId) {
        for (var i = 0; i < nodes.length; i++) {
            if (nodes[i].id === nodeId) {
                return i; // Vraća indeks čvora sa traženim ID-om
            }
        }
        return -1; // Vraća -1 ako čvor sa traženim ID-om nije pronađen
    }


    {% autoescape off %}{{ bird_script }}{% endautoescape %}
</script>


{% endblock %}