<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <title>Graph Explorer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
    <h1>Graph Explorer</h1>
    <form action="." method="POST">
        <label for="data_source">Choose data source:</label>
        <select name="data_source" id="data_source">
            {% for data_source in data_sources %}
                <option value="{{ data_source.name }}">{{ data_source.name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="visualizer">Choose visualizer:</label>
        <select name="visualizer" id="visualizer">
            {% for visualizer in visualizers %}
                <option value="{{ visualizer.name }}">{{ visualizer.name }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Visualize Graph">
    </form>
</body>
</html>