"cvor_{{ node.id }}": {
    name: "cvor_{{ node.id }}",
    attributes: {% for key, value in node.data.items %}
                    "{{ key }}": "{{ value }}",
                    {% endfor %}
},
{% if graph.edges|length != 0 %}
    {% for edge in graph.edges %}
        {% if edge.source == node.id %}
            {% with node=graph.nodes[edge.target] template_name="nodes_main.html" %}
                {% include template_name %}
            {% endwith %}
        {% endif %}
    {% endfor %}
{% endif %}
