{% extends "base.html" %}
{% block main %}

    <div class="mainView">
        <p>test : <p>

        <p id="dataParagraph">{{data}}<p>
    </div>
            <div class="treeView">
                <h1>Tree view</h1>
                <p id="treeParagraph">{{tree}}</p>
            </div>
            <div class="birdView">
                <h1>Bird view</h1>
                <p id="birdParagraph">{{bird}}</p>
            </div>
    
            <div class="footer">
                {% include "workspace.html" %}
            </div>

{% endblock %}
