{% extends "base.html" %}
{% block main %}
        <p>test : <p>

        <p id="dataParagraph">{{data}}<p>

            
            <div class="birdWiew">
                <h1>Bird view</h1>
                <p id="birdParagraph">{{bird}}</p>
            </div>
            <div class="treeWiew">
                <h1>Tree view</h1>
                <p id="treeParagraph">{{tree}}</p>
            </div>
    
            <div class="footer">
                {% include "workspace.html" %}
            </div>

{% endblock %}
