{% extends "test.html" %}
{% block workspace %}
<h1>Workspaces</h1>
<form id="workspaceForm" method="post">
    {% csrf_token %}
    {% for workspace in workspaces %}
        <button type="button" onclick="changeWorkspace(this, '{{ workspace }}')">Workspace {{ workspace }}</button>
    {% endfor %}
    <input type="hidden" id="dataSourceField" name="selected_data_source" value="">
    <input type="hidden" id="param1Field" name="param1" value="">
    <input type="hidden" id="param2Field" name="param2" value="">
    <input type="hidden" id="addWorkspaceField" name="add_workspace" value="add">
    <button type="button" id="addWorkspaceButton">+ Add Workspace</button>
</form>
<input  type="hidden" id="availableDataSources" value="{{ data_sources }}">
<p id="workspaceNumber"></p>
<!-- Definisanje dijaloga -->
<div id="dialog" title="Choose an option">
    <!-- Dodajte dodatne opcije po potrebi -->
</div>
<script src="../static/js/workspace.js"></script>

{% endblock %}